<%- include('partials/header') -%>
<div class="bg-white dark:bg-gray-900">
      <div class="flex justify-center h-screen">
          <div class="bg-cover bg-center h-screen w-full" style="background-image: url(https://images.unsplash.com/photo-1541976844346-f18aeac57b06?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxyYW5kb218MHx8fHx8fHx8MTY2MzY5MTgyOQ&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1080)">
              <div class="flex items-center h-full px-20 bg-gray-900 bg-opacity-40">
                  <div>
                      <h2 class="text-4xl leading-normal font-bold text-white uppercase mt-10">Quitting smoking is easier <br> with the right 
                        <span class="text-5xl text-sky-400 font-permanent-marker">support</span>
                      </h2>
                      
                      <p class="max-w-xl mt-3 text-gray-300">BreatheEZ was created for the Girl Develop It 2022 Hack for Health Virtual Hackathon as a tool for smokers to kick nicotine. The app allows users to create an account to track their streaks of days without smoking, their mood, how much money they've saved by not smoking, and much more!</p>
                      <p class="max-w-xl mt-3 text-gray-300">Check out the code repository <a href="https://github.com/MiliMade/stop-smoking-app" class="text-red-300">here</a> for more information on the collaborators or to suggest features, big fixes, or optimizations!</p>
                  </div>
              </div>
          </div>