<%- include('partials/loggedInHeader') -%>
<div class="bg-white h-screen dark:bg-gray-900 py-20 text-white">
    <div class="flex items-center w-full max-w-screen-md px-6 mx-auto lg:w-4/6">
        <div class="col-6">
            <div class="mt-5">
              <h2 class="bg-gradient-to-r from-green-300 via-blue-500 to-purple-600 bg-clip-text text-6xl text-center font-extrabold text-transparent sm:text-7xl mb-6 sm:leading-relaxed">Feeling anxious?</h2>
              <p class="text-2xl text-sky-600 sm:text-2xl text-center mb-6">Here are some simple HTML games that might take your mind off things:</p> 
              <ul class='p-2 text-indigo-600 text-center text-xl sm:text-2xl font-bold'>
                  <li><a href="https://dinosaurgame.net/" target="_blank" rel="noopener noreferrer">Dinosaur Game</a></li>
                  <li><a href="http://www.freeriderhd.com/" target="_blank" rel="noopener noreferrer">Free Rider HD</a></li>
                  <li><a href="https://shauninman.com/ludumdare/alone/sinkhole/" target="_blank" rel="noopener noreferrer">Sinkhole</a></li>
                  <li><a href="http://www.kevs3d.co.uk/dev/arena5/" target="_blank" rel="noopener noreferrer">Geometry Wars</a></li>
                  <li><a href="https://zty.pe/" target="_blank" rel="noopener noreferrer">zType</a></li>
              </ul>
            </div>
            <div class="flex justify-center">
                <button type="button" class="mt-4 px-6 py-4 text-white bg-blue-700 w-100 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm text-center md:mr-0 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"> <a href="/profile">Back to profile</a></button>
            </div>

        </div>
        
    </div>
</div>

              