<%- include('partials/loggedInHeader') -%>
<div class="bg-white dark:bg-gray-900 py-20 text-white">
    <div class="flex items-center w-full max-w-screen-md px-6 mx-auto lg:w-4/6">
        <div class="col-6">
            <div class="mt-5">
              <h2>You've indicated you're feeling anxious, here are some simple HTML games that might help you feel better:</h2>
              <ul>
                  <li><a href="https://dinosaurgame.net/">Dinosaur Game</a></li>
                  <li><a href="http://www.freeriderhd.com/">Free Rider HD</a></li>
                  <li><a href="https://shauninman.com/ludumdare/alone/sinkhole/">Sinkhole</a></li>
                  <li><a href="http://www.kevs3d.co.uk/dev/arena5/">Geometry Wars</a></li>
                  <li><a href="https://zty.pe/">zType</a></li>
              </ul>
            </div>
        </div>
    </div>
</div>

              