<%- include('partials/loggedInHeader') -%>
<div class="bg-white dark:bg-gray-900 py-20 text-white">
    <div class="flex items-center w-full max-w-screen-md px-6 mx-auto lg:w-4/6">
        <div class="col-6">
            <div class="mt-5">
              <h2 class="bg-gradient-to-r from-green-300 via-blue-500 to-purple-600 bg-clip-text text-3xl font-extrabold text-transparent sm:text-5xl mb-6">Feeling anxious?</h2>
              <p class="text-2xl font-extrabold sm:text-2xl mb-6">Here are some simple HTML games that might take your mind off things:</p> 
              <ul>
                  <li><a href="https://dinosaurgame.net/">Dinosaur Game</a></li>
                  <li><a href="http://www.freeriderhd.com/">Free Rider HD</a></li>
                  <li><a href="https://shauninman.com/ludumdare/alone/sinkhole/">Sinkhole</a></li>
                  <li><a href="http://www.kevs3d.co.uk/dev/arena5/">Geometry Wars</a></li>
                  <li><a href="https://zty.pe/">zType</a></li>
              </ul>
            </div>
        </div>
    </div>
</div>

              