<%- include('partials/header') -%>

<main>

  <!-- Hero -->
 <section class="bg-gray-900 h-screen text-white">
  <div
    class="mx-auto max-w-screen-xl px-4 py-32 lg:flex lg:h-screen lg:items-center"
  >
    <div class="mx-auto max-w-3xl text-center">
      <h1
        class="bg-gradient-to-r from-green-300 via-blue-500 to-purple-600 bg-clip-text text-3xl font-extrabold text-transparent sm:text-5xl mb-6"
      >
        Need to quit Smoking?

        <span class="sm:block"> Here's How. </span>
      </h1>

      <p class="mx-auto mt-4 max-w-xl sm:text-xl sm:leading-relaxed">
        Kick nicotine today by creating an account to track your streaks, your mood, the amount you've saved by not smoking, and much more!
      </p>

      <div class="mt-12 flex flex-col justify-center gap-6">
        <a
          class="rounded border border-blue-600 bg-blue-600 px-6 py-4 text-sm font-medium text-white hover:bg-transparent hover:text-white focus:outline-none focus:ring active:text-opacity-75"
          href="/signup"
        >
          Sign Up
        </a>

        <a
          class="rounded border border-blue-600 px-8 py-4 text-sm font-medium text-white hover:bg-blue-600 focus:outline-none focus:ring active:bg-blue-500"
          href="/about"
        >
          About Us
        </a>
      </div>
    </div>
  </div>
</section>
  
</main>