<%- include('partials/header') -%>
    <main class="container">
        <div class="row justify-content-center">
            <section class="col-6 mt-5">
                <% if (locals.messages.errors) { %>
                    <% messages.errors.forEach( el => { %>
                        <div class="alert alert-danger"><%= el.msg %></div>
                    <% }) %>    
                <% } %>
                <% if (locals.messages.info) { %>
                    <% messages.info.forEach( el => { %>
                        <div class="alert alert-info"><%= el.msg %></div>
                    <% }) %>    
                <% } %>
                <form action="/signup" method="POST">
                    <div class="mb-3">
                        <label for="userName" class="form-label">User Name</label>
                        <input type="text" class="form-control" id="userName" name="userName">
                      </div>
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">Email address</label>
                      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email">
                      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                    </div>
                    <div class="mb-3">
                      <label for="password" class="form-label">Password</label>
                      <input type="password" class="form-control" id="password" name="password">
                    </div>
                    <div class="mb-3">
                        <label for="confirmPassword" class="form-label">Confirm Password</label>
                        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword">
                    </div>
                    <div>
                      <label for="numberOfCigs">How many cigarettes do you smoke per day?</label>
                      <input type="number" id="numberOfCigs" name="numberOfCigs">
                    </div>
                    <div>
                      <label for="amountSpent">What's the average amount of money you spend on cigarettes per day?</label>
                      <input type="number" id="amountSpent" name="amountSpent">
                    </div>

                    <fieldset>
                      <legend>What are your triggers?</legend>
                        <div>
                          <p>Emotional triggers</p>
                          <div>
                            <input type="checkbox" id="anxious" name="triggers" value="anxious">
                            <label for="stressed">Anxious</label>
                          </div>
                        
                          <div>
                            <input type="checkbox" id="excited" name="triggers" value="excited">
                            <label for="excited">Excited</label>
                          </div>

                          <div>
                            <input type="checkbox" id="bored" name="triggers"  value="bored">
                            <label for="bored">Bored</label>
                          </div>
                        
                          <div>
                            <input type="checkbox" id="sad" name="triggers"  value="sad">
                            <label for="sad">Sad</label>
                          </div>

                          <div>
                            <input type="checkbox" id="happy" name="triggers"  value="happy">
                            <label for="happy">Happy</label>
                          </div>
                        
                          <div>
                            <input type="checkbox" id="lonely" name="triggers"  value="lonely">
                            <label for="lonely">Lonely</label>
                          </div>
                        </div>

                        <div>
                          <p>Behavioural triggers</p>
                          <div>
                            <input type="checkbox" id="talkingOnPhone" name="triggers" value="talking on the phone">
                            <label for="talkingOnPhone">Talking on the phone</label>
                          </div>
                        
                          <div>
                            <input type="checkbox" id="drinkingAlcohol" name="triggers"  value="drinking alcohol">
                            <label for="drinkingAlcohol">Drinking alcohol</label>
                          </div>

                          <div>
                            <input type="checkbox" id="watchingTV" name="triggers"  value="watching tv">
                            <label for="watchingTV">Watching TV</label>
                          </div>
                        
                          <div>
                            <input type="checkbox" id="driving" name="triggers" value="driving">
                            <label for="driving">Driving</label>
                          </div>

                          <div>
                            <input type="checkbox" id="finishingMeal" name="triggers"  value="finishing a meal">
                            <label for="finishingMeal">Finishing a meal</label>
                          </div>
                        
                          <div>
                            <input type="checkbox" id="drinkCoffee" name="triggers"  value="drinking coffee">
                            <label for="drinkCoffee">Drinking coffee</label>
                          </div>

                          <div>
                            <input type="checkbox" id="workBreak" name="triggers"  value="taking a work break">
                            <label for="workBreak">Taking a work break</label>
                          </div>

                          <div>
                            <input type="checkbox" id="afterSex" name="triggers"  value="after having sex">
                            <label for="afterSex">After having sex</label>
                          </div>

                          <div>
                            <input type="checkbox" id="beforeBed" name="triggers"  value="before going to bed">
                            <label for="beforeBed">Before going to bed</label>
                          </div>
                        </div>


                        <div>
                          <p>Social triggers</p>

                          <div>
                            <input type="checkbox" id="goingBar" name="triggers"  value="going to a bar">
                            <label for="goingBar">Going to a bar</label>
                          </div>
                        
                          <div>
                            <input type="checkbox" id="socialEvent" name="triggers"  value="going to a party or other social event">
                            <label for="socialEvent">Going to a party or other social event</label>
                          </div>

                          <div>
                            <input type="checkbox" id="concert" name="triggers"  value="going to a concert">
                            <label for="concert">Going to a concert</label>
                          </div>
                        
                          <div>
                            <input type="checkbox" id="someoneSmoke" name="triggers"  value="seeing someone else smoke">
                            <label for="someoneSmoke">Seeing someone else smoke</label>
                          </div>

                          <div>
                            <input type="checkbox" id="friendSmoke" name="triggers"  value="being with friends who smoke">
                            <label for="friendSmoke">Being with friends who smoke</label>
                          </div>
                        
                          <div>
                            <input type="checkbox" id="bigEvent" name="triggers"  value="Celebrating a big event">
                            <label for="bigEvent">Celebrating a big event</label>
                          </div>

                        </div>

                        <div>
                          <label for="otherTrigger">Enter another trigger</label>
                          <input type="text" id="otherTrigger" name="triggers" >
                        </div>
                    </fieldset>

                    <button type="submit" class="btn btn-primary">Submit</button>
                  </form>
            </section>
        </div>
    </main>

<%- include('partials/footer') -%>